h1{
    color: red;
}

.myparagraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: #F716E9;
}

#parra2{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #31F716;
}
#div1{
    width: 80px;
    height: 80px;
    display: none;
    background-color: #1649F7;
}

#div2{
    width: 80px;
    height: 80px;
    display: none;
    background-color: #16F727;
}
#div3{
    width: 80px;
    height: 80px;
    display: none;
    background-color: #16F4F7;
}
.btn_click{
    border-radius: 25%;
    background-color: tomato;
    color:#581845 ;
    padding: 10px 50px 10px 50px;
    box-shadow: 0 0 5px 5px rgba(0 , 0, 0, .25);
}